{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h1>{{ title }}</h1>
        </div>
        <div class="card">
            <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Ad asperiores culpa delectus, iste iusto omnis placeat tempore! Cumque explicabo facere facilis harum praesentium rerum voluptatum.
                    Aliquid sint suscipit unde voluptatibus.</p>
            </div>
        </div>
    </div>
{% endblock %}